<div class="aubron-work-section" id="aubron-bandwidth-section">
  <img id="aubron-bw-demo" src="./assets/ssnext.jpg" />
  <div id="aubron-bw-details">
    <figure id="bwcircle">
      <img src="./assets/sswhite.png" />
    </figure>
    <p class="aubron-project-desc">The power of photoshop and after effects in your browser. Powering the social media accounts of a myriad of pro, college, and high school sports teams.</p>
    <a href="https://medium.com/@aubronw/startup-to-finish-scoreshots-194ba1e8e266" mat-raised-button color="secondary">Read More</a>
  </div>
</div>
