<div class="aubron-work-section" id="aubron-scoreshots-section">
  <img alt="Screenshot of ScoreShots Next" id="aubron-ss-demo" src="./assets/ssnext.jpg" />
  <div id="aubron-ss-details">
    <figure id="details-ss-logo">
      <img alt="ScoreShots logo" src="./assets/sswhite.png" />
    </figure>
    <p class="aubron-project-desc">The power of photoshop and after effects in your browser. Powering the social media accounts of a myriad of pro, college, and high school sports teams.</p>
    <a href="https://medium.com/@aubronw/startup-to-finish-scoreshots-194ba1e8e266" mat-raised-button color="secondary">Read More</a>
  </div>
</div>
