<div class="aubron-work-section" id="aubron-bandwidth-section">
  <div id="aubron-bw-details">
    <figure id="bwcircle">
      <img alt="Bandwidth Logo" src="./assets/bwcircle.png" />
    </figure>
    <h2 id="aubron-bw-heading">Bandwidth Dashboard Overhaul</h2>
    <p class="aubron-project-desc">Taking a neglected frontend interface, and reimaginging it into a modern webapp in React</p>
    <a href="https://medium.com/@aubronw/bandwidth-a-story-in-progress-f9970846642c" mat-raised-button color="secondary">Read More</a>
  </div>
  <img alt="Bandwidth dashboard screenshot" id="aubron-bw-demo" src="./assets/dashboard.png" />
</div>
