<div class="aubron-intro-root">
  <figure class="aubron-profile-image">
    <img src="./assets/me.jpg" />
  </figure>
  <div class="aubron-info">
    <h1 class="mat-display-2 aubron-headline" id="aubron-headline">
      <img class="aubron-wave-image" src="./assets/wave.png" />, I'm Aubron. I currently lead the frontend, developer experience, and identity teams at <img id="bwlogo" src="./assets/bw.png" />
    </h1>
    <p class="mat-headline" id="aubron-secondary">previously, I was the CTO and co-founder of <img id="sslogo" src="./assets/ss.png" /></p>
  </div>
</div>
