<div class="aubron-intro-root">
  <figure class="aubron-profile-image">
    <img src="./assets/me.jpg" />
  </figure>
  <div class="aubron-info">
    <h1 class="mat-display-2 aubron-headline" id="aubron-headline">
      <img class="aubron-wave-image" src="./assets/wave.png" />, I'm Aubron. I currently lead the frontend, developer experience, and identity teams at <img id="bwlogo" src="./assets/bw.png" />
    </h1>
    <p class="mat-headline" id="aubron-secondary">previously, I was the CTO and co-founder of <img id="sslogo" src="./assets/ss.png" /></p>
    <div class="social-icons">
      <a href="https://github.com/aubron" target="_BLANK"><img src="./assets/github.webp" /></a>
      <a href="https://twitter.com/aubron" target="_BLANK"><img src="./assets/twitter.svg" /></a>
      <a href="mailto:aubron@daemon.group" target="_BLANK"><img src="./assets/gmail.webp" /></a>
    </div>
  </div>
</div>
